.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #c7d0d1;
}

.main-page {
  background-image: url('../public/main.jpg'); 
  background-position: 25% 0%;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  display: flex;
}

.rsvp-button {
  margin: 10px;
  background-color: white;
  color: black;
}

.rsvp-button:hover {
  background-color: gray;
}

.info-button {
  margin: 10px;
  color: white;
}

.info-button:hover {
  color: gray;
}

.button-container {
  padding-top: 1vh;
  display: flex;
  flex-direction: row;
}

.hero-text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  font-family: var(--dancing-script) cursive;
  font-size: 10vw;
  color: black;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 65%;
  top: 13%;
}

.important-info {
  background-color: #f7e9f7;
  background-size: cover; 
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 7.5vh;
  font-family: var(--dancing-script), cursive;
  position: relative;
  min-height: 82vh;
  max-width: 50vw;
  box-shadow:
	  inset #009688 0 0 0 5px, 
    inset #059c8e 0 0 0 1px, 
    inset #0cab9c 0 0 0 10px, 
    inset #1fbdae 0 0 0 11px, 
    inset #8ce9ff 0 0 0 16px, 
    inset #48e4d6 0 0 0 17px, 
    inset #e5f9f7 0 0 0 21px, 
    inset #bfecf7 0 0 0 22px;
  text-shadow: 3px 3px 1px #bfecf7;
}
.cursive-h1 {
  font-family: var(--dancing-script), cursive;
  font-size: 4vh;
}
.cursive-h3 {
  font-family: var(--dancing-script), cursive;
  font-size: 4vh;
}
.cursive-body {
  font-family: var(--dancing-script), cursive;
  font-size: 2.7vh;
}

@media only screen and (max-width: 450px) {
  .main-page {
    background-image: url('../public/main-mobile.jpg'); 
    background-position: center;
    /* background-size: cover; */
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cursive-h1 {
    font-family: var(--dancing-script), cursive;
    font-size: 3vh;
  }
  .cursive-h3 {
    font-family: var(--dancing-script), cursive;
    font-size: 2vh;
  }
  .cursive-body {
    font-family: var(--dancing-script), cursive;
    font-size: 1.5vh;
  }
  .hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: static;
  }
  .button-container {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) and (min-width:450px) {
  .main-page {
    background-image: url('../public/main.jpg'); 
    background-position: 25% 0%;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cursive-h1 {
    font-family: var(--dancing-script), cursive;
    font-size: 4vh;
  }
  .cursive-h3 {
    font-family: var(--dancing-script), cursive;
    font-size: 2.5vh;
  }
  .cursive-body {
    font-family: var(--dancing-script), cursive;
    font-size: 1.7vh;
  }
  .hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button-container {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
  }
}