.background-container {
  background-image: url('../public/holdingHands.jpg'); /* Adjust the path to your image */
  background-size: cover; /* Adjust the sizing of the background */
  width: 100%;
  height: 100vh;
}

.rsvp-button {
  left: 50%;
  top: 60%;
  transition: opacity is ease-in-out;
}

.rsvp-button.fade-in {
  opacity: 1;
}
