.wrapper {
  margin-top:5px
}

.modal-title {
  text-align: center;
  font-size: xx-large;
}

.modal-content {
  min-width: 8vw;
}

.stack-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-box-1 {
  margin-right: 6px;
}
.input-box-2 {
  margin-left: 6px;
}

@media screen and (max-width: 450px) {
  .stack-row {
    flex-direction: column;
    justify-content: space-between;
  }
  .input-box-1 {
    margin: 0;
    margin-bottom: 6px;
  }
  .input-box-2 {
    margin: 0;
    margin-top: 6px;
  }
}